h1 {
     
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: darkgray;
}

p {
    /* background-color: white; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0;
    height: 70px;
    width: 200px;

}



.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* justify-content: center; */
    flex-direction: column;
    background-color: grey;
    height: 400px;
    
    
  }

#question {
    width: 500px;
    height: 100px;
    border: 2px solid #000;
    padding: 10px, 10px;
  }

  #multChoice {
    width: 500px;
    height: 100px;
    border: 2px solid #000;
    padding: 10px, 10px;
  }

  body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 50vh;
    background-color: #9eb1b3;   
        
}
.option{    
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.option:hover{
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}
  
.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
    
    background-color: #50DBB4;
}
.next{
    color: white;
    background-color: #BF3325;
}

.highscore{
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: grey;
    justify-content: center;
    justify-items: center;
}



                
